.booking_form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.date_container {
  display: flex;
  justify-content: space-between;
}

.date {
  min-width: 48%;
}

.button_area {
  display: flex;
  flex-direction: column;
}

button {
  background-color: #fec107;
  border: 3px solid #fec107;
  border-radius: 20px;
}

@media (min-width: 768px) {
  /* Target devices wider than 768px */

  .booking_form {
    display: flex;
    flex-direction: row;
  }

  .booking_form > * {
    flex-grow: 1;
  }

  .guests {
    max-width: 10%;
  }

  .button_area {
    justify-content: flex-end;
    min-width: 3rem;
    max-width: 6rem;
  }

  button {
    min-height: 65%;
  }
}
