.destinations {
  padding: 3rem 1rem;
}

.destination_photos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

.destination_card > img {
  width: 100%;
  object-fit: cover;
}

.destination_card {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.destination_card::after {
  content: "";
  position: absolute;
  z-index: 1;
  inset: 0;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 30%,
    rgba(0, 0, 0, 0.7) 100%
  );
}

.caption {
  position: absolute;
  z-index: 2;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
  text-wrap: nowrap;
}

.city {
  font-family: "Dancing Script", sans-serif;
  font-size: 30px;
  font-weight: bold;
  margin: auto;
}

.country {
  color: rgb(202, 202, 202);
  font-family: "Montserrat", sans-serif;
}

@media (min-width: 768px) {
  /* Target devices wider than 768px */
  .destinations {
    padding: 3rem 15%;
  }

  .destinations_text {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    padding: 1rem 0;
  }

  .destination_photos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
  }
}
