footer {
  padding: 3rem 1rem;
  background-color: #fec107;
}

.links {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}

.links a {
  color: black;
  text-decoration: underline;
}

.email_field {
  display: flex;
}

.email_field > button {
  background-color: rgb(52, 136, 52);
  border: 1px solid rgb(52, 136, 52);
  color: white;
  border-radius: 5px;
  min-width: 30%;
}

@media (min-width: 768px) {
  /* Target devices wider than 768px */
  footer {
    padding: 3rem 15%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }
}
