header {
  background: url("/images/header.jpg") no-repeat top/cover;
  min-height: 25vh;
  padding: 2rem 1rem;
  color: white;
}

h1 {
  font-size: 48px;
  font-weight: 700;
}

a {
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar a {
  display: none;
  color: white;
}

.nav_search {
  display: flex;
}

.booking {
  margin-top: 6rem;
  font-family: "Montserrat", sans-serif;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
}

.icon {
  min-width: 2rem;
}

#home_icon {
  margin-left: -35px;
}

@media (min-width: 768px) {
  /* Target devices wider than 768px */
  header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 80vh;
    padding: 3rem 15%;
  }

  hr {
    margin: 0;
  }

  .nav_links,
  .nav_links a {
    display: flex;
    gap: 1rem;
  }

  #burger_btn {
    display: none;
  }

  #home_icon {
    margin-left: 120px;
  }
}
